* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  overflow-x: hidden !important;
}

header {
  position: relative;
  z-index: 5;
}

.box {
  position: fixed;
  height: 110vh;
  width: 100vw;
  z-index: 2;
  background-color: #000000;
  opacity: 0.5;
  margin-top: -10vh;
  display: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center !important;

  align-items: center;
  max-width: 100%;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(8px);

  padding: 14px 40px 14px 8px;
  height: 80px;

}

/* page load animation */
/* .hero_stats-wrapper {
  animation: fadeInAnimation ease 9s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hero_stats-wrapper {
  animation: transform ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: relative;
  z-index: -1;
}

.hero-title-wrapper_sm,
.hero-title-wrapper,
.stats-wrapper {
  animation: 2s ease-out 5s slideInTop;

}

.rectangle-container {

  animation: 2s ease-out 5s slideInRight;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;
    ;

  }
}

@keyframes transform {
  0% {
    -webkit-transform: scale(2);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {

    transition-delay: 9ms;

    transform: translateX(50%);
  }

  100% {
    transition-delay: 9ms;
    transform: translateX(0);
  }
}   */

*/

/* animation end */
.logo img {

  width: 192.98px;
  height: 64px;

  top: calc(50% - 64px / 2);
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto 0;
  /* border: 1px solid blueviolet; */
}

.nav-bar .nav-item-wrapper {
  display: flex;
  height: 52px;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid green; */
}

.nav-item-wrapper>li>a {
  height: 20px;
  /*   */

  /* Body/14px/Semi-bold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-align: center;
  font-feature-settings: "cv05" on;

  /* Grey/900 */

  color: #121212;
}

.nav-item-wrapper>li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  /* gap: 8px; */

  /* width: 120px; */
  height: 52px;
}

header .btn {
  font-size: 25px;
  cursor: pointer;
  display: none;
  /* color: red; */
}


@media (max-width: 1024px) {

  /* header .btn {
    display: block;
    color: red;
  } */
  #menu-btn {
    display: block;

    width: 40px;
    height: 40px;
    padding: 8px;
    align-items: center;
    display: flex;
    /* border: 1px solid orchid; */
  }

  .nav-bar .nav-item-wrapper {
    display: none;
    flex-direction: column;
  }

  #header {
    padding: 4px 8px;
    margin-top: 40px;
    /* padding: 14px 40px 14px 8px; */
    height: 48px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    /* border: 1px solid orchid; */
  }

  .logo img {
    max-width: 120px;
    height: 40px;
  }

  .nav-bar.active2 {
    position: absolute;
    z-index: 9999;
    box-sizing: border-box;
    flex-direction: column !important;
    max-width: 160px;
    height: 480px;
    background: #ffffff;
    border-radius: 24px 0px 0px 24px;
    top: 0;
    right: 0;
    /* transition: all ease-in-out 1.26s !important; */
    /* -webkit-transition: all 1.26s ease-in-out !important; */
    color: #121212;
  }

  .nav-bar.active2 {
    right: 0;
    /* transition: 0.9s; */
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    /*   */
  }

  .nav-item-wrapper {
    /* position: relative; */

    /*   */
    height: 100% !important;
    width: 100%;
    margin-top: 16px;
  }

  .nav-item-wrapper>li>a {
    max-width: 100%;
    /* height: 20px;  */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* text-align: center; */
  }

  .nav-item-wrapper>li {
    display: flex;

    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 14px;
    text-align: right;
    /* gap: 8px; */
    width: 120px;
    height: 52px;
  }
}

/* ===============hero section ======================== */
.hero_stats-wrapper {
  padding: 0 2.5rem;
  max-width: 100%;
  margin: auto;
}

.hero-title-wrapper_sm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 1rem;
  max-width: 27.6875rem;
  min-height: 12rem;
}

/* hero btn animation start*/


.title-content-btn,
.hero_btn,
.hero_btn_t {

  overflow: hidden;
  border: unset;
  border-radius: 10px;
  transition: all 200ms !important;
  align-items: center !important;
  padding: 16px 24px;
  gap: 8px;
  width: fit-content;
  height: 56px;
  background: #00b9e3;
  border-radius: 40px;
  color: #ffffff;
  border: #00b9e3;

}

.bhcoe_dropdown {
  padding: 8px 8px 24px 24px;
  /* gap: 8px; */
  position: absolute;
  width: 332px;
  /* height: 172px; */
  right: -7px;
  /* margin-top: 116px !important; */
  top: 116px;
  background: #FFFFFF;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.bhcoe_dropdown span img {
  float: right;
  /* display: block; */
}

.bhcoe_dropdown p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
  /* or 133% */

  font-feature-settings: 'cv05' on;

  /* Grey/900 */

  color: #121212;
}

.bhcoe_dropdown h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0px;
  /* identical to box height, or 133% */

  text-decoration-line: underline;
  font-feature-settings: 'cv05' on;

  /* Blue 1 */

  color: #2F80ED;
}

/* 
.title-content-btn:hover {
  background-color: blue;
}

.hero_btn:hover {
  background-color: blue;
} */

#btn_scroll_1 {
  height: 80px;
  transform: translateY(0%) !important;
  transition: inherit !important;
}

#btn_scroll {
  height: 80px;
  transform: translateY(-30%) !important;
  transition: inherit !important;

}

#btn_scroll:hover {
  transform: translateY(-100%) !important;
}

#btn_scroll_1:hover {
  transform: translateY(-70%) !important;
}

#btn_scroll p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  margin-top: 1.1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

#btn_scroll_1 p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  margin-top: 1.1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}





/* hero btn animation end */



.hero-title-wrapper_sm h2 {
  max-width: 19.4375rem;
  min-height: 8.25rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(28px, 9.6vw, 2.75rem) !important;
  line-height: clamp(38px, 10vw, 2.75rem) !important;
  text-align: inherit;
  color: #004a5b;
}


.hero-image {
  background-image: url(./assets/MaskGroup.png);

  border-radius: 1.875rem;
  height: clamp(514.5px, 45rem, 45rem);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: relative !important; */
  /* align-items: center; */
}

/* title */
.hero-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: clamp(32rem, 67vw, 45.25rem);
  min-height: 15rem;
  margin-top: 3rem;
  margin-left: 2.5rem;
}

.hero-title-wrapper h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: #004a5b;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.title-content-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 229px;
  height: 56px;
  background: #00b9e3;
  border-radius: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: clamp(16px, 32px, 32px);
  border: #00b9e3;
}

.hero_btn_t {
  padding: 16px 24px;
  gap: 8px;
  width: 229px;
  height: 56px;
  background-color: #00B9E3;
  border-radius: 40px;
  padding: 16px 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 20rem;
  left: clamp(70px, 1vw, 3vw);

}


.rectangle-container {
  background-image: url(./assets/bg.svg);
  width: 12.4375rem;
  height: 4rem;
  background-size: cover;
  background-position: cover right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  padding: 0.5rem 1.25rem 0.5rem 3.75rem;
  margin-top: clamp(35px, 1vh, 3.125rem);
  /* position: relative !important; */
  cursor: pointer !important;
  right: -1%;
}



.accreditation-container {
  background-image: url(./assets/accreditation.svg);
  width: 132px;
  height: 48px;
  background-size: cover;
  background-position: cover right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-right: 6px;
  margin-top: 2px;
  justify-content: end;
}



@media screen and (max-width: 768px) {

  .hero_stats-wrapper {
    padding: 0 9px;
  }

  .rectangle-container {
    /* position: absolute !important; */
    right: -1.9%;
    /* left: 80%; */
  }

}





/* stats-wrapper */
.stats-wrapper {
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0px 48px;
  gap: 24px;
  margin: auto;
  max-width: 95%;
  min-height: 14.25rem;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  position: relative;
  margin: -6rem auto 1rem !important;
}

.stats-title {
  max-width: 400px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #757575;
}

.stats-block-wrapper {
  padding: 0px;
  gap: 60px;
  max-width: 91%;
  min-height: 92px;
  margin: auto;
}

.stats-block {
  padding: 0px;
  gap: 8px;

  margin: auto;
  min-width: 240px;
  /* height: 92px;  */
}

.stats-block h2 {
  max-width: 100%;
  height: 56px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

#children {
  color: #00b9e3;
}

#Professional {
  color: #00dfc7;
}

#Centers {
  color: #eaab97;
}

#Personalized {
  color: #ff7e9a;
}

.stats-block h4 {
  max-width: 100%;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #545454;
}

/* sections wrapper */
.sections_wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 120px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.04);
  border-radius: 0rem 0rem 5rem 5rem;
  /* margin-top: 1rem; */
}



/* feature section */
.feature {
  justify-content: space-between;
  max-width: 90%;
  margin: 80px 80px 0;
}

.feature_section-title {
  height: fit-content;
  position: sticky;
  top: 2rem;
  left: 0;
}

.feature_section-title h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  /* font-size: clamp(14px, 100vw, 16px) !important;
  line-height: clamp(20px, 100vw, 24px) !important; */
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #afafaf;
}

.feature_section-title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  /* font-size: clamp(32px, 20vw, 48px) !important;
  line-height: clamp(40px, 100vw, 56px) !important; */
  font-size: 48px;
  line-height: 56px;
  color: #0094b6;
}

.feature_section-cards-wrapper {
  max-width: 628px;
  float: right;
  align-items: flex-start;
  gap: 24px !important;

  height: fit-content;

  scroll-behavior: smooth;
  /* height: 330px; */
}

*/

/* =============================== */
/* hide scroll bar */
.feature_section-cards-wrapper::-webkit-scrollbar {
  display: none;
}

.feature_section-cards-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* =================================== */
.feature_section-cards {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 48px;
  max-width: 628px;
  min-height: 330px;
  background: #fffaf8;
  border-radius: 40px;
  margin-bottom: 24px;
  position: sticky;
  top: 3%;
  border: 12px solid #FFFFFF;
}

.car1 {
  background: #fffaf8;
}

.car2 {
  background: #f5fbfc;
}

.car3 {
  background: #fffaf8;
}

.car4 {
  background: #f5fbfc;
}

.feature_section-cards-img img {
  width: 10rem;
  height: 8.125rem;
  margin-bottom: 24px;
}

.feature_section-cards-heading h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */


  /* Grey/900 */

  color: #121212;
}

.feature_section-cards-text p {
  max-width: 532px;
  min-height: 40px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #121212;
}

.feature_section-cards_freeConsultation-btn {
  margin-top: 24px;
}

.feature_section-cards_freeConsultation-btn button {
  padding: 1.25rem 3rem;
  gap: 1.5rem;
  width: 100% !important;
  height: 4.25rem;
  background: #00b9e3;
  border-radius: 12px;
  border: #00b9e3;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #ffffff;
  position: sticky;
  top: 3%;
}

@media screen and (max-width: 768px) {
  .sections_wrapper {
    /* gap: 64px; */
    display: flex;
    flex-direction: column;
    border-radius: 0 0 56px 56px !important;
  }

  .sticky_section {
    /* position: relative; */
    top: 5%;
  }

  .feature_section-cards {
    position: sticky;
    top: 38% !important;
    padding: 32px;
    gap: 32px;
    /* width: 343px; */
    max-width: 100%;
    height: 325.25px;
    background: #F5FBFC;
    border: 16px solid #FFFFFF;
    border-radius: 40px;
  }

  .feature_section-cards-wrapper {
    padding-top: 1.5rem;
    max-width: 100%;
    margin: 0;
  }

  .feature_section-cards-img img {
    width: 6.25rem;
    height: 5rem;
    margin-bottom: 0;
  }

  .feature_section-cards_freeConsultation-btn button {
    padding: 1rem 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 16px 48px;
    gap: 24px;

    /* width: 343px; */
    height: 52px;
    position: sticky;
    top: 30% !important;
  }

  .feature {
    margin: 4rem 1rem 0 1rem;
  }

  .feature_section-title h6 {
    font-size: 14px;
    line-height: 20px;
  }

  .feature_section-title h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .feature_section-cards-heading h4 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .feature_section-cards-text p {
    font-weight: 400;
    font-size: 14px;

  }
}

@media screen and (max-width: 968px) {
  .sections_wrapper {
    gap: 64px;
  }

  .feature_section-cards {
    top: 20% !important;
    padding: 32px;
    margin: 0 auto;
    max-width: 100%;
  }
}

/* Testimonials  */

.testimonials {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start;
  isolation: isolate;
  max-width: 100%;
  min-height: 655px;
  margin: 0 0 0 80px !important;
  gap: 24px;
}

.testimonials_title-card {
  display: flex;

  /* testimonial */
  flex-direction: column;
  align-items: flex-start;
  padding: 64px;
  gap: 8px;
  width: 519px;
  height: 655px;
  background: linear-gradient(360deg,
      rgba(0, 0, 0, 0.2) -1.76%,
      rgba(0, 0, 0, 0) 100%),
    url(./assets/testimonial.png);

  background-size: cover;
  background-position: cover right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  z-index: 1;
}

.testimonials_title-card-heading h6 {
  width: 400px;
  height: 19px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #545454;
  margin-bottom: 0;
}

.testimonials_title-card-text h2 {
  width: 400px;
  height: 112px;

  padding-right: 3rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 0;
}

.testimonials_card-scroll-wrapper {
  padding: 0px 0px 0px 24px;
  gap: 24px;
  width: 60%;
  min-height: 655px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: url("assets/cursor.cur"), auto;
  height: 400px;
  transition: cursor 10s ease-in-out;
  /* set the height to a fixed value */
}

.testimonials_card-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.testimonials_card-scroll-wrapper {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.testimonials_card-scroll-wrapper:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.testimonials_card-scroll-wrapper:hover {
  cursor: url("assets/drag-icon.png"), auto;
}

.testimonials_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 56px 32px;
  isolation: isolate;
  margin: auto;
  min-width: fit-content;
  height: 655px;
  background: #f7f7f7;
  border-radius: 40px;
}

.testimonials_cards-review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 29px;
  width: fit-content;
  /* width: 347px; */
  /* height: 233.98px; */
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

.testimonials_cards-review-text {
  max-width: 347px !important;
  min-height: 174px;

  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #121212;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  /* padding: 0 1.5rem; */
}

.floating_bee {
  margin-top: -14rem;
  margin-left: -1rem;
}

#curve_line-logo {
  width: 139.87px;
  height: 117.07px;

  transform: rotate(4.2deg);
}

#bee-logo {
  left: 62.13%;
  right: 18.36%;
  margin-left: 8rem;
  margin-top: -1rem;
  transform: matrix(0.97, 0.25, -0.25, 0.97, 0, 0);
}

.reviewer_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 347px;
  /* height: 72px; */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  /* z-index: 2; */

}

.reviewer_details_student-name,
.reviewer_details-age,
.reviewer_details-time_period {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'cv05' on;
  color: #757575;
  align-items: end;
  margin-top: 0;
}

/* .reviewer_details_student-name:first-child {
 

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* margin-top: 2px; 
  color: #757575;
}
 
.reviewer_details_student-name:nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}  */
.reviewer_details_student-name h6,
.reviewer_details-age h6,
.reviewer_details-time_period h6 {
  margin-bottom: 0 !important;
}

.reviewer_details_student-name span p,
.reviewer_details-age span p,
.reviewer_details-time_period span p {
  margin-bottom: -1.5px !important;

}

.reviewer_details_student-name,
.reviewer_details-age,
.reviewer_details-time_period h6 {
  /* margin-top: 2px; */


}

/* @media screen and (max-width: 416px) {
  .testimonials_card-scroll-wrapper {
    width: 98% !important;
  }
  .testimonials_cards {
   
    width: 320px !important;
    min-height: 655px;
  }
} */
@media screen and (max-width: 768px) {
  .testimonials_card-scroll-wrapper {
    display: block;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px !important;

    margin-top: 24px;
    padding: 0 !important;
    width: fit-content !important;
  }

  .testimonials_title-card {
    padding: 32px;
    gap: 8px;
    max-width: 343px !important;
    height: 457.3296px;
    background-size: cover;
    background-position: cover right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    z-index: 1;
  }

  .testimonials_cards-review-text {
    /* width: 278px !important; */
    padding: 0;
  }

  .testimonials_cards {

    margin: auto;
    /* max-width: 343px !important; */
    height: 655px;
    background: #f7f7f7;
    border-radius: 40px;
  }

  .testimonials {
    margin: 16px !important;
    max-width: 100% !important;

  }

}

@media screen and (max-width: 988px) {
  .testimonials {
    margin: 0 16px !important;
    display: flex !important;
    flex-direction: column !important;

  }

  .testimonials_card-scroll-wrapper {

    /* display: block; */
    height: fit-content;
    display: flex !important;
    flex-direction: column;
    gap: 24px !important;
    /* margin-top: 24px; */
    padding: 0;
    margin: auto;
    width: 343px;
    margin-top: 24px;

  }



  .testimonials_title-card-text h2 {

    max-width: 227px;
    min-height: 80px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .testimonials_title-card-heading h6 {

    font-size: 14px !important;
    line-height: 20px !important;
    width: fit-content;

  }

  .testimonials_cards {
    /* max-width: 411px !important; */
    overflow: hidden;
    /* margin: auto auto 24px; */
    /* min-width: auto; */

  }


  .testimonials_cards-review-text {
    width: 278px !important;
    font-size: 18px;
    line-height: 28px;
  }


  .reviewer_details {
    font-size: 14px !important;
    line-height: 24px !important;
  }

  .reviewer_details_student-name {
    font-size: 14px;
    line-height: 24px;
    /* align-items: end;
    margin-top: 0; */

  }

  .reviewer_details_student-name:first-child {
    font-size: 14px;
    line-height: 24px;
    /* align-items: end; */

  }

  .reviewer_details_student-name:nth-child(2) {
    font-size: 14px;
    line-height: 24px;

  }





}

@media screen and (max-width: 1324px) {
  .testimonials_card-scroll-wrapper {
    width: 100%;
    /* margin-top: 1rem; */
  }

  .testimonials_title-card {
    margin: auto;
  }
}

/* ----------Our Services----------- */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 64px;

  max-width: 100%;
  margin: 0 80px;
  /* height: 1880px; */
}

.services_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  gap: 8px;

  max-width: 100%;
  position: sticky;
  top: 5%;
  height: 88px;
}

.services_title-ourService p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  margin: 0;
  text-transform: uppercase;
  color: #afafaf;
}

.services_cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 100%;
  /* height: 1728px; */
}

.services_title-ourService h6 {
  width: 153px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #afafaf;
}

.services_title-professionals h2 {
  width: 100%;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  color: #d48971;

}

.services_cards1,
.services_cards2,
.services_cards3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 64px 24px 24px 64px;
  gap: 616px;
  width: 100%;
  /* height: 560px; */
  position: sticky;
  top: 22%;
  cursor: pointer;
}

.services_cards1 {
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 50%),
    url(./assets/Services--Block1.png), #f6f6f6;
  border-radius: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services_cards1-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 524px;
  height: 472px;
}

.services_cards1-content>h2 {
  max-width: 524px;
  min-height: 58px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  /* Grey/50 */

  color: #f7f7f7;
}

.services_cards1-content>p {
  max-width: 496px;
  min-height: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #eeeeee;
}

.services_cards2 {
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 50%),
    url(./assets/Services--Block2.png), #f6f6f6;
  border-radius: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services_cards3 {
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 50%),
    url(./assets/Services--Block3.png), #f6f6f6;
  border-radius: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services_card_navigation-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 2%;
  border-radius: 50%;
  background-color: #f6f6f6;
  margin-top: 13rem;


}

.services_card_navigation-arrow img {
  width: 27.5px;
  height: 23px;
}

@media (max-width: 768px) {
  .services_title-ourService p {
    font-size: 14px;
    line-height: 20px;
    margin-top: -16px !important;
  }

  .services_cards-wrapper {
    width: 343px !important;
  }

  .services_title {
    padding: 0px 16px;
    gap: 8px;
    width: 343px;
    height: 108px;
    top: 0.2rem !important;
  }

  .services_title-professionals h2 {
    margin-bottom: 0;
    font-size: 32px;
    line-height: 40px;

    max-width: 311px;
  }

  .services_cards1-content>p {
    font-size: 14px;
    line-height: 20px;
    margin-top: -1rem;
    margin-bottom: 0;
  }

  .services_cards1-content>h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
  }

  /* .services_cards1{
    top: 9rem !important;
  }
  .services_cards2{
    top: 14rem !important;

  } */
  .services_cards3 {
    /* top: 12rem !important; */
    /* position: relative; */

  }

  .services_cards1,
  .services_cards2,
  .services_cards3 {
    top: 8rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), ;
    border-radius: 40px;
    align-items: baseline;
    padding: 40px 24px 24px 32px;
    gap: 24px;
    width: 343px;
    height: 343px;
    border-radius: 40px;
    margin: 0 auto;
  }

  .services_card_navigation-arrow {
    /* margin-top: 13rem; */
    right: 24px;
    bottom: 24px;
    padding: 0px;
    width: 48px;
    height: 48px;
    background: rgba(247, 247, 247, 0.5);
    border-radius: 40px;
  }

  .services {
    margin: 0 16px;
  }

  .services_cards1-content {
    gap: 16px;

    width: 287px;
    height: 207px;
  }
}










/* ===============end=============== */

/* why_us */

.why_us {
  margin: 80px;
  max-width: 100%;
  justify-content: space-between;
}

.why_us-title h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #afafaf;
}

.why_us-title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  max-width: 411px;
  min-height: 112px;
  color: #0094b6;
}

.why_content {
  max-width: fit-content;

  /* column-gap: 24px; */
}

.why_content div h3 {
  /* max-width: auto; */
  min-height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #121212;
}

.why_content div p {
  flex: 1;
  padding: 0;
  max-width: 100%;
  height: fit-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "cv05" on;
  color: #545454;
  text-align: left !important;
}

.why_content button {
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 100%;
  min-height: 56px;
  background: #f7f7f7;
  border-radius: 12px;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  color: #545454;
}

@media (max-width: 768px) {
  .why_us {
    margin: 32px;
  }

  .why_us-title h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .why_us-title h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .why_content div h3 {
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
  }

  .why_content div p {
    font-size: 16px;
    flex: 0 0 auto;
    line-height: 24px;
  }

  .why_content button {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
}

/* how it works */

.how_it_works {
  align-items: center;
  justify-content: center;
  gap: 56px;
  max-width: 100%;
  /* height: 1780px; */
  margin: 0 80px !important;
}

.hiw_title-wrapper h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #afafaf;
  margin-bottom: 0;
}

.hiw_title-wrapper h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #3b9579;
  margin-bottom: 0;
}

.hiw_title-wrapper {
  display: flex;
  flex-direction: column;
  /* width: 678px; */
  height: 88px;
  gap: 8px;
  margin: auto;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 2rem;
  margin: 0px auto 56px;
}

.this_is_how {
  position: sticky;
  top: 10rem;
  /* max-width: 845px; */
  height: 35rem;
  background-image: url(./assets/thisIsHow.png);
  border-radius: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  border-style: solid;
  border-width: 12px;
  border-color: white;


}

.hiw_cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 44px;
  /* width: 25.6875rem; */
  /* width: 100%; */
  /* margin: auto; */
  height: fit-content;

}

.hiw_cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
  gap: 24px;
  width: 100%;
  /* position: sticky;
  top: 2rem; */
  /* width: 100%;
  height: 384px; */
  background: #F7F7F7;
  border-radius: 40px;
  position: sticky;
  top: 10rem;
  border: 16px solid white;
  /* margin: auto; */
}

#hiw_card1 {
  width: 100%;
  /* height: 384px; */

}

#hiw_card2 {
  width: 100%;

  /* height: 464px; */

}

#hiw_card3 {

  width: 100%;

  /* height: 404px; */

}

.hiw_cards h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #121212;
  margin-bottom: 0;
}

.hiw_cards p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  color: #545454;
  margin-bottom: 0;

}

.hiw_book_Consultation_card {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  gap: 2.5rem;
  width: 100%;
  /* height: 312px; */
  height: auto;
  background: #3b9579;
  border-radius: 40px;
  margin: auto;
  position: sticky;
  top: 11rem;

  color: #FFFFFF;
  border: 16px solid white;

}

.hiw_book_Consultation_card h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  margin-bottom: 0 !important;
}

.hiw_book_Consultation_card button {
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  /* width: 234px; */
  width: auto;
  min-height: 56px;
  background: #f7f7f7;
  border-radius: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

}

@media screen and (max-width: 768px) {
  .how_it_works {
    align-items: center;
    justify-content: center;
    gap: 56px;
    max-width: 100%;
    margin: 0 16px !important ;
  }

  .hiw_title-wrapper h6 {
    font-size: 14px  !important;
    line-height: 20px  !important;
    letter-spacing: 0.2em  !important;
  }

  .hiw_title-wrapper h2 {
    font-size: 32px  !important;
    line-height: 40px  !important;
    color: #3b9579;
  }

  .hiw_cards h3 {

    font-size: 24px  !important;
    line-height: 32px  !important;
    margin-bottom: 0;
  }

  .hiw_cards p {
    color: #545454;
    font-size: 14px  !important;
    line-height: 20px  !important;
    margin-bottom: 0;
  }

  .hiw_book_Consultation_card h3 {
    color: #fff;
    font-size: 2rem  !important;
    line-height: 40px  !important;
    font-weight: 700;
  }

  .hiw_cards-wrapper {
    gap: 24px;
    /* width: 343px; */
    /* height: 1400px; */

  }

  .hiw_cards {
     padding: 32px;
    /* gap: 24px;
    max-width: 100%;
    height: 328px;  */
    /* position: sticky;
    top: 26%; */
    /* margin: auto; */
  }

  .this_is_how {
    /* max-width: 100%;
    height: 228.67px;
    border-radius: 40px; */
    /* position: sticky;
    top: 26%; */
  }

  .hiw_book_Consultation_card {
    padding: 32px;
  }

  .hiw_book_Consultation_card button {
    font-size: 14px;
    line-height: 20px;
  }

  .hiw_book_Consultation_card h3 {
    font-size: 24px;
    line-height: 32px;
  }



  .hiw_title-wrapper {
    margin: 0;
  }

  .how_it_works {
    /* gap: 0 !important;
    display: flex;
    flex-direction: column; */
  }

  .this_is_how {
    display: none;
  }

  .this_is_how_sm {
    display: block !important;
    position: sticky !important;
    top: 10rem;
    height: 20rem;
    background-image: url(./assets/thisIsHow.png);
    border-radius: 40px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 12px;
    border-color: white;


  }

  
#hiw_card1 img {
   
  width: 109.56px;
  height: 100px;
  
}

#hiw_card2 img {
 
  width: 135.28px;
  height: 100px;
}

#hiw_card3 img {

  width: 98.85px;
  height: 100px;
  

}

}

@media screen and (max-width: 991px) {

  .hiw_cards h3 {

    font-size: 28px;
    line-height: 40px;

    margin-bottom: 0;
  }

  .hiw_cards p {
    color: #545454;
    font-size: 0.875rem;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .hiw_book_Consultation_card h3 {
    color: #fff;
    font-size: 2rem;
    line-height: 40px;
    font-weight: 700;
  }


  /* .this_is_how{
    display: none;
  }
   .this_is_how_sm {
    display: block !important;
    position: sticky !important;
    top: 10rem;
    height: 20rem;
    background-image: url(./assets/thisIsHow.png);
    border-radius: 40px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 12px;
    border-color: white;
  
    
  }  */

  /* .this_is_how {
    display: none !important;
  } */
}

@media screen and (max-width: 1268px) {

  /* .how_it_works {
    margin: 0 16px !important;
  }

  .hiw_title-wrapper {
    margin-bottom: 40px;
  } */

  /* 
  .this_is_how {
    display: none !important;
  } */

  /* .hiw_cards-wrapper {
    margin: auto;
    gap: 24px;
  } */

  /* .this_is_how_sm {
     
    width: 343px;
    height: 228.67px;
    border-radius: 40px;
    background-image: url(./assets/thisIsHow.png);
    margin: 0 auto 24px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 24px;
    position: sticky !important;
    top: 10rem;
  }*/
}

/* reference code */
/* @media screen and (max-width: 991px) {
  .block__temp {
    height: 32rem;
  }
} */

/* form */
.contact-layout-wrapper {
  max-width: 100%;
  min-height: 588px;
  justify-content: space-between;
  padding: 56px 64px;
  justify-content: space-between;
  align-items: flex-start;

  /* gap: 393px; */
  isolation: isolate;

  /* width: 1280px; */
  min-height: 496px;
  margin: 0 80px 80px;
  background: #ffe1d7;
  border-radius: 40px;
}

form {
  margin: auto;
}

.form-control {
  border-radius: 12px;
}

label>span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'cv05' on;
  color: #EB5757;
}

.form_wrapper {
  /* display: flex;

  flex-direction: column; */
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  max-width: 451px;
  min-height: 384px;
}

form input {
  height: 56px !important;
}

form label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'cv05' on;
  color: #121212;
}

.contact_logo img {
  display: none;
}

/* @media (max-width: 992px) { */
@media (max-width: 800px) {

  .contact-layout-wrapper {
    margin: 0 16px;
    padding: 32px 32px 120px;
    margin-bottom: 16px;
    border-radius: 40px;
  }

  .contact_title-wrapper {
    margin: 0 auto 40px;
  }

  .contact_btn {
    height: 52px !important;
  }

  .form_wrapper {
    width: 100%;
    margin: auto;
  }

  form input {
    width: 100%;
  }

  .contact_title_logo img {
    display: none;

  }

  .contact_logo img {
    position: absolute;
    width: 135px;
    height: 124px;
    right: 15%;
    display: block;
    margin-bottom: -35rem !important;

  }

  .contact_title h2 {

    max-width: 172px;
    min-height: 40px;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  .contact_title input {
    width: 100%;
  }
}


.contact_title-wrapper {
  gap: 50px;
  width: fit-content;
  /* height: 132px; */
}

.contact_title {
  gap: 1rem;
  max-width: 19.75rem;
  min-height: 8.25rem;
}

.contact_title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #121212;
  margin-bottom: 16px;
}

.contact_title p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "cv05" on;
  color: #333333;
  margin-bottom: 0;
}

.contact_title_logo img {
  width: 18.9375rem;
  height: 16.125rem;
  margin-bottom: -20.6rem !important;
}

form_ input {
  padding: 16px;
  gap: 8px;

  max-width: 451px;
  min-height: 56px;
}

.contact_btn {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 100%;
  height: 56px;
  background: #00b9e3;
  border-radius: 12px;
  border: #00b9e3;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'cv05' on;
  color: #FFFFFF;
}

/* ------faq--------- */

.faq {
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
  max-width: 100%;
}

.faq_title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #0094b6;
  margin-bottom: 0;
}

.faq_title h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2em;
  text-transform: uppercase;

  /* Grey/400 */

  color: #AFAFAF;
}

#cllp {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#cllp>h3:after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 5%;
  justify-content: space-between !important;
  font-weight: 600;
  /* transition: all linear 0.5s !important; */
}

#cllp>h3[aria-expanded="true"]:after {
  /* content: "\f068"; */
  transform: rotate(46deg);
  color: grey;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  /* transition: all linear 0.5s !important; */
}

#cllp>h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  display: contents;
  font-feature-settings: "cv05" on;
  /* transition: all linear 1s !important; */
  color: #000000;
}

.collapse {
  /* transition: all linear 1s !important; */

}

.faq-collapse {
  width: fit-content;
  height: fit-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "cv05" on;
  color: #545454;
  /* transition: all linear 1s !important; */
  margin-top: -32px;
}

.faq_list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

#aa {
  transition: all linear 1s !important;

}

@media (max-width: 768px) {
  .faq {
    margin: 0 32px;
    max-width: 100%;
  }

  #cllp>h3 {
    font-size: 18px;
    line-height: 28px;
    display: flex;
    display: contents;
  }

  .faq_title {
    width: 311px;
  }

  .faq_title h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .faq_list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
  }
}

/* } */
/* -----footer-------- */

.footer {
  display: block;
  max-width: 100%;
  /* height: 413px; */
  height: auto;
  padding: 56px 80px 32px;
  justify-content: flex-start;
  color: #000000 !important;
  position: sticky !important;
  bottom: 0;
  left: 0;
  z-index: 0 !important;
  opacity: 0;
  box-sizing: border-box;
}

.footer {}

.footer_list-wrapper {
  color: #000000 !important;
  width: auto;
}

.footer_list-wrapper ul li a {
  /* color: #000000 !important; */
}

.footer-logo-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.abc_logo {
  width: 120px;
  height: 118px;
}

.train_logo {
  width: 108px;
  height: 44px;

  align-items: bottom !important;
  margin-left: -8px;
  margin-top: auto;


  align-items: bottom !important;
  margin-left: -8px;

}

.footer_Butterfly_Logo img {
  width: 192.98px;
  height: 64px;

}

.footer_Butterfly_Logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  font-feature-settings: 'cv05' on;
  width: fit-content !important;
  color: #121212;
  margin-bottom: 1.5rem !important;
}


.list-unstyled a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'cv05' on;
  color: #545454;
}

.list-unstyled li {
  padding: 8px;
}

#contact_us_list {
  display: flex;
  flex-direction: column;
  text-align: start !important;
  justify-content: flex-start !important;
}

.copywrite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copywrite h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: #333333;
}

.copywrite span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.75rem;
  text-align: right;
  color: #333333;
}

.email {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-feature-settings: 'cv05' on;
  color: #545454;

}

.address_phone h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-feature-settings: 'cv05' on;
  color: #121212;

}

.address_phone p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: #545454;
  max-width: 10rem;
  margin-bottom: 8px !important;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 2.5rem 1.5rem 24px !important;
    /* height: fit-content; */
    max-height: 80vh;
    /* max-height: 845px; */
    /* max-height: 100vh !important; */



  }

  .footer_list-wrapper {
    margin-top: 1.5rem !important;
    /* margin: 24px auto !important; */
  }

  .footer-logo-wrapper {
    margin-top: 3.1875rem;
  }

  .list-unstyled li {
    color: #121212;
  }

  #community {
    float: left !important;

  }

  .mb-4 {
    text-align: initial;
  }

  .copywrite {
    display: flex;
    flex-direction: column;
  }

  .list_heading {
    margin-bottom: 1rem !important;
  }

  .copywrite span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    margin-bottom: 1.5rem !important;
  }

  .copywrite h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    color: #333333;
    max-width: 90%;

  }

  .email,
  .address_phone h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #121212;
  }

  .address_phone p,
  #phone_number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    /* color: #121212; */
    color: #333333;
    margin-bottom: 8px !important;
    max-width: 10rem;
  }

  #phone_number {
    color: #121212;
    margin-bottom: 0px !important;


  }

  .abc_logo img {
    width: 74.24px !important;
    height: 73px !important;
    margin-bottom: -8.4rem;
    margin-left: -2rem;

  }

  .train_logo img {
    width: 66.81px !important;
    height: 27.22px !important;
    margin-left: -7rem;
    margin-bottom: -2.3rem;

  }
}





/* testing navbar css */
/* Navigation styles */
/* .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item-wrapper li {
  margin: 0 20px;
}

.nav-item-wrapper li:first-child {
  margin-left: 0;
}

.nav-item-wrapper li:last-child {
  margin-right: 0;
}

.nav-item-wrapper a {
  color: #121212;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav-item-wrapper a:hover {
  color: #1a73e8;
}

.nav-item-wrapper li {
  margin: 0 10px;
  transform: translateX(10%);
  transition: transform 0.5s ease-in-out;
}

.sticky-top .nav-item-wrapper li {
  transform: translateX(-50%);
  transition: transform 0.5s ease-in-out;
}

.sticky-top .nav-bar {
  justify-content: space-between;
}

.sticky-top .nav-item-wrapper {
  justify-content: center;
}

.sticky-top .book-consultation-btn {
  display: block;
}

/* Book consultation button styles */
/* .book-consultation-btn {
  overflow: hidden;
  border: unset;
  border-radius: 10px;
  transition: all 200ms !important;
  align-items: center !important;
  padding: 16px 24px;
  gap: 8px;
  width: fit-content;
  height: 56px;
  background: #00b9e3;
  border-radius: 40px;
  color: #ffffff;
  border: #00b9e3;
  display: none;
}

.book-consultation-btn:hover {
  background-color: #1e88e5;
}  */