* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center !important;

  align-items: center;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  /* border: 3px solid black; */
  padding: 14px 40px 14px 8px;
  height: 80px;
  /*   */
}

.logo img {
  /*   */
  width: 192.98px;
  height: 64px;

  top: calc(50% - 64px / 2);
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto 0;
  /* border: 1px solid blueviolet; */
}

.nav-bar .nav-item-wrapper {
  display: flex;
  height: 52px;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid green; */
}

.nav-item-wrapper>li>a {
  height: 20px;
  /*   */

  /* Body/14px/Semi-bold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-align: center;
  font-feature-settings: "cv05" on;

  /* Grey/900 */

  color: #121212;
}

.nav-item-wrapper>li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  /* gap: 8px; */

  /* width: 120px; */
  height: 52px;
}

header .btn {
  font-size: 25px;
  cursor: pointer;
  display: none;
  /* color: red; */
}

/* @media (max-width: 768px) {
  .logo img {
     
    width: 120px;
    height: 40px;
    top: calc(50% - 40px / 2); */
/* width: clamp(120px, 192px, 192px);
   height: clamp(40px, 64px, 64px); */
/* }
} */

@media (max-width: 1024px) {

  /* header .btn {
    display: block;
    color: red;
  } */
  #menu-btn {
    display: block;

    width: 40px;
    height: 40px;
    padding: 8px;
    align-items: center;
    display: flex;
    /* border: 1px solid orchid; */
  }

  .nav-bar .nav-item-wrapper {
    display: none;
    flex-direction: column;
  }

  #header {
    padding: 4px 8px;
    margin-top: 40px;
    /* padding: 14px 40px 14px 8px; */
    height: 48px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    /* border: 1px solid orchid; */
  }

  .logo img {
    max-width: 120px;
    height: 40px;
  }

  .nav-bar.active2 {
    position: absolute;
    z-index: 9999;
    box-sizing: border-box;
    flex-direction: column !important;
    max-width: 160px;
    height: 480px;

    background: #ffffff;
    border-radius: 24px 0px 0px 24px;
    top: 0;
    right: 0;
    transition: all 0.9s;
    color: #121212;
  }

  .nav-bar.active2 {
    right: 0;
    transition: 0.9s;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    /*   */
  }

  .nav-item-wrapper {
    /* position: relative; */

    /*   */
    height: 100% !important;
    width: 100%;
    margin-top: 16px;
  }

  .nav-item-wrapper>li>a {
    max-width: 100%;
    /* height: 20px;  */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* text-align: center; */
  }

  .nav-item-wrapper>li {
    display: flex;

    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 14px;
    text-align: right;
    /* gap: 8px; */
    width: 120px;
    height: 52px;
  }
}

/* ===============hero section ======================== */
.hero_stats-wrapper {
  padding: 0 2.5rem;
  max-width: 100%;
  margin: auto;
}

.hero-title-wrapper_sm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 1rem;
  max-width: 27.6875rem;
  min-height: 12rem;
}

/* hero btn animation start*/

.title-content-btn {

  overflow: hidden;
  border: unset;
  border-radius: 10px;
  transition: all 200ms;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: fit-content;
  height: 56px;
  background: #00b9e3;
  border-radius: 40px;
  color: #ffffff;
  border: #00b9e3;

}

/* .title-content-btn:hover {
  background-color: blue;
} */

#btn_scroll {
  height: 80px;
  transform: translateY(0%);
  transition: inherit;
}

#btn_scroll:hover {
  transform: translateY(-70%)
}

#btn_scroll p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  margin-top: 1.1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

/* hero btn animation end */



.hero-title-wrapper_sm h2 {
  max-width: 19.4375rem;
  min-height: 8.25rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(28px, 9.6vw, 2.75rem) !important;

  line-height: clamp(38px, 10vw, 2.75rem) !important;

  text-align: inherit;

  color: #004a5b;
}

/* .hero-title-wrapper_sm button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  gap: 8px;
  margin: 1rem 0px 0px 0px;
  max-width: fit-content;
  min-height: 2.75rem;
  background: #00b9e3;
  border-radius: 2.5rem;
} */

.hero-image {
  background-image: url(./assets/MaskGroup.png);

  border-radius: 1.875rem;
  height: clamp(514.5px, 45rem, 45rem);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: relative !important; */
  /* align-items: center; */
}

/* title */
.hero-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: clamp(32rem, 67vw, 45.25rem);
  min-height: 15rem;

  margin-top: 3rem;
  margin-left: 2.5rem;
}

.hero-title-wrapper h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: #004a5b;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.title-content-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 229px;
  height: 56px;
  background: #00b9e3;
  border-radius: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: clamp(16px, 32px, 32px);
  border: #00b9e3;
}

.rectangle-container {
  background-image: url(./assets/Rectangle\ 33.png);
  width: 12.4375rem;
  height: 4rem;
  background-size: cover;
  background-position: cover right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  padding: 0.5rem 1.25rem 0.5rem 3.75rem;
  margin-top: clamp(35px, 1vh, 3.125rem);
  position: relative !important;
  z-index: -1;
  right: 3%;
}

.accreditation-container {
  background-image: url(./assets/accreditation.png);
  width: 132px;
  height: 48px;
  background-size: cover;
  background-position: cover right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-right: 6px;
  justify-content: end;
}

 
 
@media screen and (max-width: 768px) {
  .hero_stats-wrapper {
    padding: 0 9px;
  }
  .rectangle-container {
    /* position: absolute !important; */
    /* right: -4.5%; */
    /* left: 80%; */
  }
  
}
@media screen and (max-width: 1124px) {
  .rectangle-container {
    /* position: relative !important;
    right: 2.5%; */
  }
  
}




/* stats-wrapper */
.stats-wrapper {
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0px 48px;
  gap: 24px;
  margin: auto;
  max-width: 95%;
  min-height: 14.25rem;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 40px;

  margin: -6rem auto !important;
}

.stats-title {
  max-width: 400px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #757575;
}

.stats-block-wrapper {
  padding: 0px;
  gap: 60px;
  max-width: 91%;
  min-height: 92px;
  margin: auto;
}

.stats-block {
  padding: 0px;
  gap: 8px;

  margin: auto;
  min-width: 240px;
  /* height: 92px;  */
}

.stats-block h2 {
  max-width: 100%;
  height: 56px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

#children {
  color: #00b9e3;
}

#Professional {
  color: #00dfc7;
}

#Centers {
  color: #eaab97;
}

#Personalized {
  color: #ff7e9a;
}

.stats-block h4 {
  max-width: 100%;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #545454;
}

/* sections wrapper */
.sections_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 120px;
  max-width: 100%;

  background: #ffffff;
  box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.04);
  border-radius: 0rem 0rem 5rem 5rem;
  margin-top: 6rem;
}

/* feature section */
.feature {
  justify-content: space-between;
  max-width: 90%;
  margin: 80px;
}

.feature_section-title {
  height: fit-content;
  position: sticky;
  top: 2rem;
  left: 0;
}

.feature_section-title h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(14px, 100vw, 16px) !important;
  line-height: clamp(20px, 100vw, 24px) !important;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #afafaf;
}

.feature_section-title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(32px, 20vw, 48px) !important;
  line-height: clamp(40px, 100vw, 56px) !important;

  color: #0094b6;
}

.feature_section-cards-wrapper {
  max-width: 100%;
  align-items: flex-start;
  gap: 24px !important;

  height: fit-content;

  scroll-behavior: smooth;
  /* height: 330px; */
}

*/

/* =============================== */
/* hide scroll bar */
.feature_section-cards-wrapper::-webkit-scrollbar {
  display: none;
}

.feature_section-cards-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* =================================== */
.feature_section-cards {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 48px;

  max-width: 628px;
  min-height: 330px;
  background: #fffaf8;
  border-radius: 40px;
  margin-bottom: 24px;
}

.car1 {
  background: #fffaf8;
}

.car2 {
  background: #f5fbfc;
}

.car3 {
  background: #fffaf8;
}

.car4 {
  background: #f5fbfc;
}

.feature_section-cards-img img {
  width: 10rem;
  height: 8.125rem;
}

.feature_section-cards-text p {
  max-width: 532px;
  min-height: 40px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #121212;
}

.feature_section-cards_freeConsultation-btn {
  margin-top: 24px;
}

.feature_section-cards_freeConsultation-btn button {
  padding: 1.25rem 3rem;
  gap: 1.5rem;
  width: 100% !important;
  height: 4.25rem;
  background: #00b9e3;
  border-radius: 12px;
  border: #00b9e3;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .sections_wrapper {
    gap: 64px;
  }

  .sticky_section {
    position: relative;
  }

  .feature_section-cards-wrapper {
    padding-top: 1.5rem;
  }

  .feature_section-cards-img img {
    width: 6.25rem;
    height: 5rem;
  }

  .feature_section-cards_freeConsultation-btn button {
    padding: 1rem 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 16px 48px;
    gap: 24px;

    /* width: 343px; */
    height: 52px;
  }

  .feature {
    margin: 4rem 1rem 0 1rem;
  }
}

/* Testimonials  */

.testimonials {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start;
  isolation: isolate;
  max-width: 100%;
  min-height: 655px;
  margin: 0 0 0 80px !important;
}

.testimonials_title-card {
  display: flex;

  /* testimonial */
  flex-direction: column;
  align-items: flex-start;
  padding: 64px;
  gap: 8px;
  width: 519px;
  height: 655px;
  background: linear-gradient(360deg,
      rgba(0, 0, 0, 0.2) -1.76%,
      rgba(0, 0, 0, 0) 100%),
    url(./assets/testimonial.png);

  background-size: cover;
  background-position: cover right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  z-index: 1;
}

.testimonials_title-card-heading h6 {
  width: 400px;
  height: 19px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #545454;
}

.testimonials_title-card-text h2 {
  width: 400px;
  height: 112px;

  padding-right: 3rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.testimonials_card-scroll-wrapper {
  padding: 0px 0px 0px 48px;
  gap: 24px;
  /* width: %; */
  min-height: 655px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: url("assets/drag-icon.png"), auto;
  height: 400px;

  /* set the height to a fixed value */
}

.testimonials_card-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.testimonials_card-scroll-wrapper {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.testimonials_card-scroll-wrapper:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.testimonials_card-scroll-wrapper:hover {
  cursor: url("assets/drag-icon.png"), auto;
}

.testimonials_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 56px 32px;
  isolation: isolate;
  margin: auto;
  min-width: 411px;
  height: 655px;
  background: #f7f7f7;
  border-radius: 40px;
}

.testimonials_cards-review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 29px;

  width: 347px;
  height: 233.98px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

.testimonials_cards-review-text {
  max-width: 347px !important;
  min-height: 174px;

  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #121212;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  padding: 0 1.5rem;
}

.floating_bee {
  margin-top: -14rem;
  margin-left: -1rem;
}

#curve_line-logo {
  width: 139.87px;
  height: 117.07px;

  transform: rotate(4.2deg);
}

#bee-logo {
  left: 62.13%;
  right: 18.36%;
  margin-left: 8rem;
  margin-top: -1rem;
  transform: matrix(0.97, 0.25, -0.25, 0.97, 0, 0);
}

.reviewer_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 347px;
  /* height: 72px; */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  z-index: 2;
}

.reviewer_details_student-name {
  display: flex;
  flex-direction: row;
  /* background-color: #004a5b; */
  /* align-items: flex-start */
}

.reviewer_details_student-name:first-child {
  /* width: 74px;
height: 24px; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #757575;
}

.reviewer_details_student-name:nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}

@media screen and (max-width: 768px) {
  .testimonials_card-scroll-wrapper {
    display: block;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    padding: 0;
  }

  .testimonials_title-card {
    padding: 32px;
    gap: 8px;
    /* width: 100% !important; */
    height: 457.3296px;
    background-size: cover;
    background-position: cover right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    z-index: 1;
  }

  .testimonials_cards-review-text {
    /* width: 278px !important; */
  }
}

@media screen and (max-width: 988px) {
  .testimonials {
    margin: 16px !important;

  }

  .testimonials_card-scroll-wrapper {

    /* display: block; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
    margin-top: 24px;
    padding: 0;
    margin: auto;
    width: 343px;
    margin-top: 24px;

  }

  /* .testimonials_cards {
    
    margin: auto;
    min-width: 411px !important;
    height: 655px;
    background: #f7f7f7;
    border-radius: 40px;
  } */

  .testimonials_title-card-text h2 {

    max-width: 279px;
    min-height: 80px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .testimonials_title-card-heading h6 {

    font-size: 14px !important;
    line-height: 20px !important;
    width: fit-content;

  }

  .testimonials_cards {
    width: 411px !important;
    overflow: hidden;
    margin: auto auto 24px;

  }


  .testimonials_cards-review-text {
    width: 278px !important;
    font-size: 18px;
    line-height: 28px;
  }


  .reviewer_details {
    font-size: 14px !important;
    line-height: 24px !important;
  }

  .reviewer_details_student-name {
    font-size: 14px;
    line-height: 24px;
  }

  .reviewer_details_student-name:first-child {
    font-size: 14px;
    line-height: 24px;

  }

  .reviewer_details_student-name:nth-child(2) {
    font-size: 14px;
    line-height: 24px;

  }





}

@media screen and (max-width: 1324px) {
  .testimonials_card-scroll-wrapper {
    width: 100%;
  }

  .testimonials_title-card {
    margin: auto;
  }
}

/* ----------Our Services----------- */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 64px;

  max-width: 100%;
  margin: 0 80px;
  /* height: 1880px; */
}

.services_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  gap: 8px;

  max-width: 100%;
  position: sticky;
  top: 5%;
  height: 88px;
}

.services_title-ourService p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  margin: 0;
  text-transform: uppercase;
  color: #afafaf;
}

.services_cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 100%;
  height: 1728px;
}

.services_title-ourService h6 {
  width: 153px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #afafaf;
}

.services_title-professionals h2 {
  width: 100%;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  color: #d48971;
}

.services_cards1,
.services_cards2,
.services_cards3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 64px 24px 24px 64px;
  gap: 616px;
  width: 100%;
  /* height: 560px; */
  position: sticky;
  top: 22%;
}

.services_cards1 {
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 50%),
    url(./assets/Services--Block1.png), #f6f6f6;
  border-radius: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services_cards1-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 524px;
  height: 472px;
}

.services_cards1-content>h2 {
  max-width: 524px;
  min-height: 58px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  /* Grey/50 */

  color: #f7f7f7;
}

.services_cards1-content>p {
  max-width: 496px;
  min-height: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #eeeeee;
}

.services_cards2 {
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 50%),
    url(./assets/Services--Block2.png), #f6f6f6;
  border-radius: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services_cards3 {
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 50%),
    url(./assets/Services--Block3.png), #f6f6f6;
  border-radius: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services_card_navigation-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 2%;
  border-radius: 50%;
  background-color: #f6f6f6;


}

.services_card_navigation-arrow img {
  width: 27.5px;
  height: 23px;
}

@media (max-width: 768px) {

  .services_cards1-content>p {
    font-size: 14px;
    line-height: 20px;
  }

  .services_cards1-content>h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .services {
    margin: 0 16px;
  }
}










/* ===============end=============== */

/* why_us */

.why_us {
  margin: 80px;
  max-width: 100%;
  justify-content: space-between;
}

.why_us-title h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #afafaf;
}

.why_us-title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  max-width: 411px;
  min-height: 112px;
  color: #0094b6;
}

.why_content {
  max-width: fit-content;

  /* column-gap: 24px; */
}

.why_content div h3 {
  max-width: 737px;
  min-height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #121212;
}

.why_content div p {
  padding: 0;
  max-width: 100%;
  height: fit-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "cv05" on;
  color: #545454;
  text-align: left !important;
}

.why_content button {
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 90%;
  min-height: 56px;
  background: #f7f7f7;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .why_us {
    margin: 32px;
  }

  .why_us-title h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .why_us-title h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .why_content div h3 {
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
  }

  .why_content div p {
    font-size: 16px;
    line-height: 24px;
  }

  .why_content button {
    font-size: 16px;
    line-height: 24px;
  }
}

/* how it works */

.how_it_works {
  align-items: center;
  justify-content: center;
  gap: 56px;
  max-width: 100%;
  /* height: 1780px; */
  margin: 0 80px !important;
}

.hiw_title-wrapper h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #afafaf;
}

.hiw_title-wrapper h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #3b9579;
}

.hiw_title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.this_is_how {
  position: sticky;
  top: 2rem;
  max-width: 845px;
  height: 600px;
  background-image: url(./assets/thisIsHow.png);
  border-radius: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hiw_cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 44px;
  width: 411px;
  /* margin: auto; */
  height: fit-content;
}

.hiw_cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
  gap: 24px;
  /* position: sticky;
  top: 2rem; */
  width: 100%;
  height: 384px;
}

.hiw_cards h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #121212;
}

.hiw_cards p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;

}

.hiw_book_Consultation_card {
  display: flex;
  flex-direction: column;
  padding: 48px;
  gap: 40px;
  max-width: 96%;
  height: 312px;
  background: #3b9579;
  border-radius: 40px;
  margin: auto;
}

.hiw_book_Consultation_card button {
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 234px;
  height: 56px;
  background: #f7f7f7;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .hiw_title-wrapper h6 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2em;
  }

  .hiw_title-wrapper h2 {
    font-size: 32px;
    line-height: 40px;
    color: #3b9579;
  }

  .hiw_cards {
    padding: 32px;
    gap: 24px;
    max-width: 100%;
    height: 328px;
    /* margin: auto; */
  }

  .this_is_how {
    max-width: 100%;
    height: 228.67px;
    border-radius: 40px;
  }


}

@media screen and (max-width: 1122px) {

  .how_it_works {
    margin: 0 16px !important;
  }

  .this_is_how_sm {
    display: block !important;
    max-width: 100%;
    height: 228.67px;
    border-radius: 40px;
    background-image: url(./assets/thisIsHow.png);

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .this_is_how {
    display: none;
  }
}

/* form */
.contact-layout-wrapper {
  max-width: 100%;

  justify-content: space-between;
  padding: 56px 64px;
  justify-content: space-between;
  align-items: flex-start;

  /* gap: 393px; */
  isolation: isolate;

  /* width: 1280px; */
  min-height: 496px;
  margin: 0 80px 80px;
  background: #ffe1d7;
  border-radius: 40px;
}

form {
  margin: auto;
}

.form-control {
  border-radius: 12px;
}

.form_wrapper {
  /* display: flex;

  flex-direction: column; */
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  max-width: 451px;
  min-height: 384px;
}

form input {
  height: 56px !important;
}

.contact_title div img {
  display: none;
}

@media (max-width: 992px) {
  .contact-layout-wrapper {
    margin: 0 16px;
    padding: 32px 32px 120px;
  }

  .contact_btn {
    height: 52px !important;
  }

  .form_wrapper {
    width: 100%;
  }

  form input {
    width: 100%;
  }

  .contact_title div img {
    position: absolute;
    width: 135px;
    height: 115px;
    right: 15%;
    display: block;
  }

  .contact_title h2 {

    max-width: 172px;
    min-height: 40px;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  .contact_title input {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .contact_title-wrapper img {
    display: none;
  }

  .contact_title div img {
    position: absolute;
    width: 135px;
    height: 115px;
    right: 15%;
    display: block !important;
  }
}

.contact_title-wrapper {
  gap: 50px;
  width: fit-content;
  /* height: 132px; */
}

.contact_title {
  gap: 1rem;
  max-width: 19.75rem;
  min-height: 8.25rem;
}

.contact_title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #121212;
}

.contact_title p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "cv05" on;
  color: #333333;
}

.contact_title img {
  width: 18.9375rem;
  height: 16.125rem;
}

form_ input {
  padding: 16px;
  gap: 8px;

  max-width: 451px;
  min-height: 56px;
}

.contact_btn {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 100%;
  height: 56px;
  background: #00b9e3;
  border-radius: 12px;
  border: #00b9e3;
  color: white;
}

/* ------faq--------- */

.faq {
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
  max-width: 100%;
}

.faq_title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #0094b6;
}

#cllp {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#cllp>h3:after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  /* position: absolute; */
  /* right: 2%; */
  justify-content: space-between !important;
  font-weight: 600;
}

#cllp>h3[aria-expanded="true"]:after {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

#cllp>h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  display: contents;
  font-feature-settings: "cv05" on;

  color: #000000;
}

.faq-collapse {
  width: fit-content;
  height: fit-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "cv05" on;
  color: #545454;
}

.faq_list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media (max-width: 768px) {
  .faq {
    margin: 0 32px;
    max-width: 100%;
  }

  #cllp>h3 {
    font-size: 18px;
    line-height: 28px;
    display: flex;
    display: contents;
  }

  .faq_title h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .faq_list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

/* -----footer-------- */

footer {
  padding: 56px 80px 0;
  justify-content: flex-start;
  color: #000000 !important;
}

.footer_list-wrapper {
  color: #000000 !important;
  width: 100% !important;
  justify-content: space-between;
}

.footer_list-wrapper ul li a {
  color: #000000 !important;
}

.footer-logo-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  /* vertical-align: bottom !important; */

  /* gap: 40px; */
}

.abc_logo {
  width: 120px;
  height: 118px;
}

.train_logo {
  width: 108px;
  height: 44px;

  align-items: bottom !important;
  margin-left: -8px;
  margin-top: auto;


  align-items: bottom !important;
  margin-left: -8px;

}

.footer_Butterfly_Logo img {
  width: 192.98px;
  height: 64px;

}

.footer_Butterfly_Logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 40px 24px 24px;
  }

  #community {
    float: left !important;

  }

  .mb-4 {

    text-align: initial;
  }
}